* {
    margin: 0;
    padding: 0;
}
header {
    background: #d8d8d8;
    height: 85px;
    padding: 25px;
}
header div {
    background: #468ee5;
    height: 80px;
    width: 80px;
}
.main {
    height: 40vh;
}
p {
    font-size: 1.5em;
    margin: 2em auto 0 auto;
    width: 60%;
}
section div {
    height: 20vh;
}
section div:nth-child(1) {
    background: #468ee5;
}
section div:nth-child(2) {
    background: #47e4c2;
}
section div:nth-child(3) {
    background: #b7eb81;
}
section div:nth-child(4) {
    background: #f9e900;
}